{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>
</div>


<div class="card">
    <form action="" method="get" class="card-header">
        <div class="form-row justify-content-between">
            <div class="col-md-2">
                <input type="text" name="title" value="{{  request.GET.title }}" placeholder="Product Title" class="form-control">
            </div>
            <div class="col-md-2">
                <select name="variant_title" id="" class="form-control select2">
                    <option selected disabled>--Select A Variant--</option>
                    {% for item in product_variant_list %}
                        <optgroup label="{{ item.variant__title }}">{{ item.variant__title }}</optgroup>
                        {% for title in item.variant_title %}
                            <option {% if request.GET.variant_title|stringformat:"s" == title|stringformat:"s" %} selected {% endif %} value="{{ title }}">{{ title }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Price Range</span>
                    </div>
                    <input type="text" value="{{  request.GET.price_from }}" name="price_from" aria-label="First name" placeholder="From"
                           class="form-control">
                    <input type="text" name="price_to" value="{{  request.GET.price_to }}" aria-label="Last name" placeholder="To" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <input type="date" value="{{  request.GET.created|date:"m/d/Y"}}" name="created" placeholder="Date" class="form-control">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <div class="card-body">
        <div class="table-response">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Variant</th>
                    <th width="150px">Action</th>
                </tr>
                </thead>

                <tbody>

                {% for obj in object_list %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.title }} <br> Created at : {{ obj.created|date:"d-M-Y" }}</td>
                    <td>{{ obj.description }}</td>
                    <td>
                        <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant_{{ obj.id }}">
                            {% for item in obj.product_variant_prices.all %}
                            <dt class="col-sm-3 pb-0">
                                {{ item.title }}
                            </dt>
                            <dd class="col-sm-9">
                                <dl class="row mb-0">
                                    <dt class="col-sm-4 pb-0">Price :  {{ item.price }}</dt>
                                    <dd class="col-sm-8 pb-0">InStock :  {{ item.stock }}</dd>
                                </dl>
                            </dd>
                            {% endfor %}
                        </dl>
                        <button onclick="$('#variant_{{ obj.id }}').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                        </button>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{% url 'product:update.product' obj.id %}" class="btn btn-success">Edit</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}

                </tbody>

            </table>
        </div>

    </div>

    <div class="card-footer">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <div class="pagination">
                <span class="page-links">
                    <span class="page-current">
                      Showing 1 to {{ page_obj.number }} out of {{ page_obj.paginator.num_pages }}.
                    </span>
                </span>
               </div>
            </div>
            <div class="col-md-2">
                 {% include 'include/pagination.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}